# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.so

# Environment / Secrets
.env
.env.*

# Logs
logs/
*.log

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Virtual environments
venv/
env/
.venv/
ENV/

# Byte-compiled / packaging
*.egg-info/
dist/
build/
.eggs/
*.egg

# Coverage / testing
.coverage
htmlcov/
.tox/
.nox/
.pytest_cache/
nosetests.xml
coverage.xml

# Mypy / type checking
.mypy_cache/

# PyCharm
*.iml
out/

# Temporary data
data/